arabic-reshaper==2.1.3
asgiref==3.5.0
asn1crypto==1.5.1
backports.zoneinfo==0.2.1
boto3==1.21.41
botocore==1.24.41
click==8.1.3
coverage==6.3.2
cssselect2==0.6.0
dj-database-url==0.5.0
Django==3.2
django-allauth==0.50.0
django-countries==7.3.2
django-crispy-forms==1.14.0
django-storages==1.12.3
django-summernote==0.8.20.0
factory-boy==3.2.1
Faker==13.11.0
future==0.18.2
gunicorn==20.1.0
html5lib==1.1
jmespath==1.0.0
lxml==4.8.0
oauthlib==3.2.0
oscrypto==1.3.0
Pillow==9.1.0
psycopg2==2.9.3
pyHanko==0.13.1
pyhanko-certvalidator==0.19.5
PyJWT==2.3.0
PyPDF3==1.0.6
python-bidi==0.4.2
python3-openid==3.2.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
qrcode==7.3.1
reportlab==3.6.9
requests-oauthlib==1.3.1
s3transfer==0.5.2
sqlparse==0.4.2
stripe==2.72.0
svglib==1.2.1
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
uritools==4.0.0
whitenoise==6.0.0
xhtml2pdf==0.2.7
