<div id="books" class="container ">
    <div class=" align-self-center "> <span class="badge badge-danger badge-danger-2  rounded-pill px-4 py-2 font-weight-light">All Books</span></div>

    <div class="row wrap-land clearfix books-wrapper">
        
    </div>
    <div class="container d-flex justify-content-center flex-row">
        <div class="loader d-none"></div>
        <div id="loading-wrapper ">
            <button class="btn btn-primary" id="load-btn">Load more</button>
        </div>
    </div>
</div>



