{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'store/css/reviews.css' %}" />
{% endblock %}

{% block comments %}

<div class="container col-8 py-5" >
<div class="row">
    <div class="col-6 text-start">
        <h1 class="display-5">Reviews</h1>
    </div>
    
    <div class="col-6 mt-2 ">
    {% if user_review %}
        <button type="button" disabled id="add-review-modal-btn" class="btn add-review-btn btn-info btn-sm" data-toggle="modal" data-target="#review-modal">Add review</button>
    {% else %}
        <button type="button" id="add-review-modal-btn" class="btn add-review-btn btn-info btn-sm" data-toggle="modal" data-target="#review-modal">Add review</button>
    {% endif %}
    </div>
</div>
    <div class="temp-review-wrapper"></div>
    {% if user_review %}
    <div id="user-review-info-wrapper">
        <div class="media row text-muted py-3 col-12 border-top bg-light">
            <strong class="d-block text-gray-dark">@{{user_review.user.username}} - </strong>
            <i class="fas fa-star mx-1"><p class="c-rate">{{user_review.rating}}</p></i>
            <div class="edit-delete-comment">
                <i data-toggle="modal" data-target="#update-review-modal" id="update-review-btn" class="fas px-2 fa-edit"></i>
                <i data-toggle="modal" data-target="#delete-review-modal" id="delete-review-btn" class="fas fa-trash-alt"></i>
            </div>
        </div>
        
        <div id="user-review-body-wrapper" class="row bg-light border-bottom pb-3 mb-0 border-gray col-12">
            {{user_review.review|linebreaksbr}}
        </div>
    </div>
    {% endif %}

    {% for review in reviews %}
    <div class="media row text-muted pt-3">
        <strong class="d-block text-gray-dark">@{{review.user.username}} - </strong>
        <i class="fas fa-star mx-1 "><p class="c-rate">{{review.rating}}</p></i>
    </div>
    <div class="row border-bottom pb-3 mb-0 border-gray">
        {{review.review|linebreaksbr}}
    </div>
    {% endfor %}

</div>

{% include 'store/snippets/modals.html' %}



{% endblock %}