{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'store/css/comments.css' %}" />
{% endblock %}
{% block comments %}

<div class="container col-8 py-5" >
<div class="row">
    <div class="col-6 text-start">
        <h1 class="display-5">Reviews</h1>
    </div>
    
    <div class="col-6 mt-2 ">
    {% if user_review %}
        <button type="button" disabled id="add-review-modal-btn" class="btn add-review-btn btn-info btn-sm" data-toggle="modal" data-target="#review-modal">Add review</button>
    {% else %}
        <button type="button" id="add-review-modal-btn" class="btn add-review-btn btn-info btn-sm" data-toggle="modal" data-target="#review-modal">Add review</button>
    {% endif %}
    </div>
    

    {% include 'store/snippets/review.html' %}
    {% block review_modal %}
    {% endblock %}

</div>

    <hr class="mb-4">
    <div class="temp-review-wrapper"></div>
    {% if user_review %}
    <div class="media row text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 ">
        <strong class="d-block text-gray-dark">@{{user_review.user.username}} - {{user_review.rating}}</strong>
        </p>
    </div>
    <div class="row border-bottom pb-3 mb-0 border-gray">
        {{user_review.review|linebreaksbr}}
    </div>
    {% endif %}

    {% for review in reviews %}
    <div class="media row text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 ">
        <strong class="d-block text-gray-dark">@{{review.user.username}} - {{review.rating}}</strong>
        </p>
    </div>
    <div class="row border-bottom pb-3 mb-0 border-gray">
        {{review.review|linebreaksbr}}
    </div>
    {% endfor %}

</div>

{% endblock %}