{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'store/css/comments.css' %}" />
{% endblock %}
{% block comments %}

<div class="container col-8 py-5" >
<div class="row">
    <div class="col-6 text-start">
        <h1 class="display-5">Reviews</h1>
    </div>
    
    <div class="col-6 mt-2 ">
        <button type="button" class="btn add-review-btn btn-info btn-sm">Add review</button>
    </div>
</div>
    <hr class="mb-4">

    <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p>
    </div>

</div>

{% endblock %}