{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product.title }}</h1>
                <p><span class="lead">{{ product.author }}</span> (Author)</p>
                <a href="{{ product.pdf.url }}" target="_blank">click here to read</a>
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"><span class="h4 fw-bold">£{{ product.price }}</span></div>
                            <div class="col-6 text-end">
                                <button type="button" id='add-button' value={{product.id}} class="btn btn-secondary btn-sm">Add to
                                    basket
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

{% endblock %}