{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'store/css/product_detail.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first ">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
            <span class="badge badge-danger badge-danger-2  rounded-pill px-3 py-2 mb-2 font-weight-light">{{product.title}}</span>
            {% if user.is_staff%}
            <a class="btn btn-info mx-5 badge px-sm-4 py-2 font-weight-light" href="{% url 'admin:store_product_change' product.id%}">Edit Book</a>
            {% endif %}


                <p><span class="lead font-weight-bold">{{ product.author }}</span> (Author)</p>
                
                <p>{{ product.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"><span class="h4 fw-bold">€{{ product.price }}</span></div>
                            <div class="col-6 text-end">
                                <button type="button" id='add-btn' value={{product.id}} class="btn btn-info btn-sm">Add to
                                    basket
                                </button>
                                <button type="button" class="btn btn-success btn-sm">Add to
                                    wishlist
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>

{% include 'store/snippets/comments.html'%}
{% block comments %}
{% endblock %}



<script src="{% static 'store/js/review.js' %}"></script>
<script>
    $(document).on('click', '#add-btn', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "basket:basket_add" %}',
            data: {
                productId: $('#add-btn').val(),
                productQty: ($('#select option:selected').text()),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(json){
                document.getElementById('basket-qty').innerHTML = json.qty
                console.log(json.qty)
                alert('Added to basket')
            },
            error: function(xhr, errmsg, err){}
        })
    })
    
</script>

{% endblock %}


