{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'store/css/store_main.css' %}" />
{% endblock %}

{% block content %}

{% include 'store/snippets/cta.html' %}
{% block cta %}

{% endblock %}

{% include 'store/snippets/books.html' %}
{% block books %}

{% endblock %}

<script src="{% static 'store/js/landing.js' %}"></script>
<script src="{% static 'store/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'store/js/infinite.min.js' %}"></script>
<script>
var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
       onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
   
    
</script>

{% endblock %}



