{% extends "base.html" %}
{% load static %}
{% block title %}
Search
{% endblock %}
{% block content %}


<main>
  <div class="row row-cols-3 row-cols-md-4 mx-3">
  {% for product in products %}
  <div class=" col-3 mb-4">
    <a href="{{product.get_absolute_url}}">
      <div class="card h-100">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text text-muted">{{product.author}}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>


</main>

{% endblock %}