{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'checkout/css/checkout.css' %}" />
{% endblock %}
{% block content %}

   <div class="container py-5">
      <div class="row">

        {% include 'checkout/snippets/cart_summary.html' %}

        {% include 'checkout/snippets/billing_form.html' %}

        
      </div>
    </div>
    
    <script>
        let CSRF_TOKEN = '{{csrf_token}}'
        let addOrderUrl = "{% url 'orders:add_order' %}"
        let checkoutCompleteUrl = "{% url 'checkout:checkout_complete' %}"

    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'checkout/js/checkout.js' %}"></script>

{% endblock %}