{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="pt-5">
    <div class="container">
      <h1 class="h5">Shopping basket</h1>
      <div class="min-msg"></div>
      {% if basket.get_total_price_after_discount > .50 %}
      {% for item in basket %}
      {% with product=item.product %}
      <div data-index="{{product.id}}" class="row mb-4 border product-item">
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
          <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ product.image.url }}">
        </div>
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
          <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
            <h1 class="h5 pt-2">{{ product.title }}</h1>
          </a>
          <div class="border">
            <div class="col border-bottom">
              <div class="row p-3">
                <div class="col-6">Price</div>
                <div class="col-6 text-end"><span class="h6 fw-bold">${{ product.price }}</span></div>
              </div>
            </div>
            <div class="col">
              <div class="row p-3">
                <div class="col-12">
                  <button type="button" id="delete-button" data-index="{{product.id}}"
                    class="btn btn-outline-secondary btn-sm delete-button">
                    Remove from basket
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
      {% else %}
      The minimum purchase is 50 cent. Start adding items to your basket to continue to checkout!
      {% endif %}
      <form class="card p-2">
            <div class="input-group">
              <input type="text" id='promo-code-input' class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" id='promo-btn' class="btn btn-secondary" required>Redeem</button>
              </div>
            </div>
          </form>
      <div class="col-12 text-end">
        
        <div class="h6 fw-bold">Sub Total: $<div id="subtotal" class="d-inline-flex">{{basket.get_total_price_after_discount}}</div></div>
        <div class="check-shop-btn-wrapper">
          {% if basket.get_total_price_after_discount > .50 %}
            <a class='btn btn-info' href="{% url 'checkout:checkout' %}">Proceed to Checkout</a>
          {% else %}
            <a class='btn btn-info' href="{% url 'store:all_books' %}">Shop for Books</a>
          {% endif %}
        </div>

      </div>
    </div> 
  </main>
  <script>
    // Delete Item
    $(document).on('click', '.delete-button', function (e) {
      e.preventDefault();
      var prodid = $(this).data('index');
      $.ajax({
        type: 'POST',
        url: '{% url "basket:basket_delete" %}',
        data: {
          productId: $(this).data('index'),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (json) {
          $('.product-item[data-index="' + prodid + '"]').remove();
          document.getElementById("subtotal").innerHTML = json.subtotal;
          document.getElementById("basket-qty").innerHTML = json.qty
          if(document.getElementById("subtotal").innerHTML == '0.00') {
            document.querySelector(".check-shop-btn-wrapper").innerHTML = `
            <a class='btn btn-info' href="/#books">Shop for Books</a>
            `
            document.querySelector(".min-msg").innerHTML = `
            The minimum purchase is 50 cent. Start adding items to your basket to continue to checkout!
            `
          }
        },
        error: function (xhr, errmsg, err) {}
      });
    })


    $(document).on('click', '#promo-btn', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "promotions:add_promo" %}',
            data: {
                promo_code: $('#promo-code-input').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(json){
            document.getElementById("subtotal").innerHTML = json.total
            document.querySelector('.msg-wrapper').innerHTML = `
              <div class="alert alert-success alert-dismissible fade show" role="alert">
              <p class="text-center">Promo code applied</p>
              </div>

              `
              setTimeout(function () {
                  $(".alert").alert('close')
              }, 3000);
            },
            error: function(xhr, errmsg, err){
              document.querySelector('.msg-wrapper').innerHTML = `
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <p class="text-center">Promo code invalid</p>
              </div>

              `
              setTimeout(function () {
                  $(".alert").alert('close')
              }, 3000);
            }
        })
    })

    </script>
   
{% endblock %}