{% block billing_modal %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="mb-1 modal-title">Billing address</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 order-md-1">
    
    <form id='payment-form' class="needs-validation">
    <div class="row">
        <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        {% if billing.user.first_name %}
            <input type="text" class="form-control" id="firstName" value={{billing.user.first_name}} required>
        {% else %}
            <input type="text" class="form-control" id="firstName" placeholder="John" required>
        {% endif %}
        </div>
        <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        {% if billing.user.last_name %}
            <input type="text" class="form-control" id="firstName" value={{billing.user.last_name}} required>
        {% else %}
            <input type="text" class="form-control" id="firstName" placeholder="Doe" required>
        {% endif %}
        </div>
    </div>

    <div class="mb-3">
        <label for="email">Email <span class="text-muted">(required)</span></label>
        {% if billing.user.email %}
            <input type="email" class="form-control" value={{billing.user.email}} id="email" required>
        {% else %}
            <input type="email" class="form-control"  id="email" placeholder="you@example.com" required>
        {% endif %}

        
    </div>

    <div class="mb-3">
        <label for="address">Address</label>
        {% if billing.address_line_one %}
            <input type="text" class="form-control" id="address" value="{{billing.address_line_one}}" required>
        {% else %}
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
        {% endif %}

    </div>

    <div class="mb-3">
        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
        {% if billing.address_line_two %}
            <input type="text" class="form-control" id="address" value="{{billing.address_line_two}}" required>
        {% else %}
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        {% endif %}

    </div>

    <div class="row">
        <div class="col-md-5">
            <label for="country" class="form-label">Country</label>
            <select class="form-select" id="country" required>
            {% if billing.country %}
                <option value="">{{billing.country}}</option>
            {% else %}
                <option value="">Choose...</option>
            {% endif %}
                <option>United States</option>
            </select>
            <div class="invalid-feedback">
                Please select a valid country.
            </div>
            </div>
            <div class="col-md-4">
            <label for="state" class="form-label">State</label>
            <select class="form-select" id="state" required>
                {% if billing.city %}
                <option value="">{{billing.city}}</option>
                {% else %}
                <option value="">Choose...</option>
                {% endif %}
                <option>California</option>
            </select>
            <div class="invalid-feedback">
                Please provide a valid state.
            </div>
            </div>
            <div class="col-md-3 pb-2">
            <label for="postcode" class="form-label">Zip/Postcode</label>
            {% if billing.postcode %}
                <input type="text" class="form-control" id="postCode" value="{{billing.postcode}}" required>
            {% else %}
                <input type="text" class="form-control" id="postCode" placeholder="" required>
            {% endif %}
            <div class="invalid-feedback">
                Zip code required.
            </div>
            </div>
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}