{% block books %}
<div class="row wrap-land clearfix library-wrapper content-div" id='library-div'>
            
    {% if purchases %}
    {% for item in purchases  %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 py-5">
        <a href="{{item.product.pdf.url}}" target="_blank">
            <div class=" product_item">
                <div class="body">
                    <div class="cp_img">
                        <img src="{{item.product.image.url}}"  alt="{{item.product.title}} book cover" class="img-fluid">
                    </div>
                </div>
            </div>
        </a>
        </div>
    {% endfor %}
    {% else %}
     <div class="container d-flex justify-content-center mt-5"><a class='btn btn-info text-center' href="{% url 'store:all_books' %}">Buy Something!</a></div>
    {% endif %}

</div>
{% endblock %}