{% block comments %}
<div class="reviews-wrapper hide content-div" id='reviews-div' >
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews %}
      <tr>
        <th scope="row">{{review.product.title}}</th>
        <td>{{review.updated_on}}</td>
        <td>{{review.rating}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}