{% load static %}
<div class='footer-msg pb-5'>

    
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5><i class="fa fa-road"></i> E-biblio</h5>
                <div class="row">
                    <div class="col-5">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'store:all_books' %}">Books</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">Login</a></li>
                            <li><a href="{% url 'account_signup' %}">Sign-up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'cookie_policy' %}">Cookie Policy</a></li>
                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a target="_blank" href="https://www.facebook.com/E-biblio-104355408947139" rel="noopener" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a target="_blank" href="https://twitter.com/EbiblioInfo" class="nav-link" rel="noopener"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a target="_blank" href="https://github.com/xiaoniuniu89" class="nav-link" rel="noopener"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a target="_blank" href="https://www.instagram.com/" class="nav-link" rel="noopener"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-5">
                <div class="accordion" id="accordionExample">
                <div class="">
                    <div class="" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Subscribe to our newsletter
                        </button>
                    </h2>
                    </div>

                    <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                         <form>
                            <fieldset class="form-group">
                                <input type="email" class="form-control" id="email-input-sub" placeholder="Enter email" required/>
                            </fieldset>
                            <fieldset class="form-group text-xs-right">
                                <button type="button" id='email-btn' class="btn btn-secondary-outline btn-small">Send</button>
                            </fieldset>
                        </form>
                    </div>
                    </div>
                </div>
  <div class="">
    <div class="" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Contact us
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <form>
            <fieldset class="form-group">
                <input type="email" class="form-control" id="email-input" placeholder="Enter email" required/>
            </fieldset>
            <fieldset class="form-group">
                <textarea class="form-control" id="message-input" placeholder="Message" required></textarea>
            </fieldset>
            <fieldset class="form-group text-xs-right">
                <button type="button" id='msg-btn' class="btn btn-secondary-outline btn-lg">Send</button>
            </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
                
            </div>
        </div>
    </div>
</footer>

{% block extra_js_body %}
    <script src="{% static 'js/footer.js' %}"></script>

    <script>

        $(document).on('click', '#email-btn', function(e){
            e.preventDefault();
            if($('#email-input-sub').val().indexOf('@') !== -1
            && $('#email-input-sub').val().indexOf('.') !== -1){
            $.ajax({
                type: 'POST',
                url: '{% url "promotions:subscribe" %}',
                data: {
                    email: $('#email-input-sub').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function(json){
                $('#email-input-sub').val(''),
                document.querySelector('.msg-wrapper').innerHTML = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">${json.msg}</p>
                </div>`;
                $('#email-input').val('');
                $('#message-input').val('');
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 3000);

                },
                error: function(xhr, errmsg, err){}
            });
            } else {
               document.querySelector('.msg-wrapper').innerHTML =  `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">That is not a valid email</p>
                </div>`;
            }
            
        });
    

        let userEmail = '{{request.user.email}}';

        $(document).on('click', '#msg-btn', function(e){
            e.preventDefault();
            if($('#email-input').val().indexOf('@') !== -1
            && $('#email-input').val().indexOf('.') !== -1)
             {
            $.ajax({
                type: 'POST',
                url: '{% url "dashboard:send_message" %}',
                data: {
                    email: $('#email-input').val(),
                    content: $('#message-input').val(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function(json){
                document.querySelector('.msg-wrapper').innerHTML = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">${json.msg}</p>
                </div>

                `;
                $('#email-input').val('');
                $('#message-input').val('');
                setTimeout(function () {
                    $(".alert").alert('close');
                }, 3000);

                },
                error: function(xhr, errmsg, err){}
            });
            }
            else {
                document.querySelector('.msg-wrapper').innerHTML =  `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">That is not a valid email</p>
                </div>`;
            }
        });
    </script>
{% endblock %}

