{% block orders_dropdown_nav %}

<li><a class="dropdown-item dropdown-toggle" href="#">Orders</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Add order</a></li>
        <li><a class="dropdown-item" href="#">Edit order</a></li>


        <li><a class="dropdown-item dropdown-toggle" href="#">Order items</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All</a></li>
                <li><a class="dropdown-item" href="#">Add order item</a></li>
                <li><a class="dropdown-item" href="#">Edit order item</a></li>
            </ul>
        </li>
    </ul>
</li>

{% endblock %}