{% block products_dropdown_nav %}

<li><a class="dropdown-item dropdown-toggle" href="#">Products</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Add product</a></li>
        <li><a class="dropdown-item" href="#">Edit product</a></li>


        <li><a class="dropdown-item dropdown-toggle" href="#">Reviews</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">All</a></li>
                <li><a class="dropdown-item" href="#">Add review</a></li>
                <li><a class="dropdown-item" href="#">Edit review</a></li>
            </ul>
        </li>
    </ul>
</li>

{% endblock %}