{% block products_dropdown_nav %}

<li><a class="dropdown-item dropdown-toggle" href="#">Products</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'admin:store_product_add' %}">Add product</a></li>
        <li><a class="dropdown-item" href="{% url 'admin:store_product_changelist' %}">Edit product</a></li>


        <li><a class="dropdown-item dropdown-toggle" href="#">Reviews</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'admin:store_review_add' %}">Add review</a></li>
                <li><a class="dropdown-item" href="{% url 'admin:store_review_changelist' %}">Edit review</a></li>
            </ul>
        </li>
    </ul>
</li>

{% endblock %}