{% block superuser_nav %}
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Dashboard</a></li>            
    {% include 'snippets/users_dropdown_nav.html' %}
    {% include 'snippets/products_dropdown_nav.html' %}
    {% include 'snippets/orders_dropdown_nav.html' %}
    {% include 'snippets/promotions_dropdown_nav.html' %}
    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>


{% endblock %}