{% block users_dropdown_nav %}
<li><a class="dropdown-item dropdown-toggle" href="#">Users</a>
    <ul class="dropdown-menu">

        <li><a class="dropdown-item" href="#">All</a></li>
        <li><a class="dropdown-item" href="#">Add user</a></li>
        <li><a class="dropdown-item" href="#">Edit user</a></li>
        <li><a class="dropdown-item" href="#">Social accounts</a></li>
        <li><a class="dropdown-item dropdown-toggle" href="#">Email addresses</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Add email</a></li>
                <li><a class="dropdown-item" href="#">Edit email</a></li>
            </ul>
        </li>
        <li><a class="dropdown-item dropdown-toggle" href="#">Profiles</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">User profiles</a></li>
                <li><a class="dropdown-item" href="#">Wishlists</a></li>
            </ul>
        </li>
    </ul>
</li>
{% endblock %}