{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container col-12 col-md-6 py-5 all-auth-container">


<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>Please sign in with your google account. Or, <a href="{{ signup_url }}">sign up</a>
for an E-biblio account and sign in below:</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or pb-2">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
  <a class="button secondaryAction btn btn-success" style="color: white;" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

</form>
</div>

{% endblock %}
