@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

:root {
    --orange: rgb(227, 178, 60);
    --orange-hover: rgb(207, 162, 55);
    --white: white;
    --grey: rgb(124, 132, 131);
    --blue: rgb(45, 49, 66);
    --rose: rgb(155, 106, 108);
}


body {
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 300px;
    font-family: "Montserrat", sans-serif;
	  color: var(--grey);
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth!important;
}



/* navbar  */

nav {
    background-color: var(--blue)!important;
}

nav a {
    color: var(--white);
}

.navbar-toggler-icon {
    color: var(--white)!important;
}

nav a:hover {
    color: var(--white);
}

.navbar-brand:hover {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--white);
}

.nav-pad:hover {
    border-bottom: 1px solid var(--white);
    padding-bottom: 0;

}

/* end navbar  */

/* footer  */
.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
    body {
      margin-bottom: 500px;
    }
    .footer {
      height: 500px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: var(--rose);
  color: var(--white);
}

footer a {
  color: var(--white);
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: var(--grey);
  text-decoration:none;
  border-bottom:1px dotted var(--grey);
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
/* end footer  */