{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'dashboard/css/user_dashboard.css' %}" />
{% endblock %}

{% block content %}

<main role="main" class="container">

  <div class="pt-5">
    <div class="row mb-2">
      <h1>Welcome {{user.username|title}}</h1>
      <button type="button" class="btn btn-primary mx-4 badge px-sm-2 font-weight-light d-inline" data-toggle="modal" data-target="#exampleModal">
        Update Billing Info
      </button>
    </div>
    <div class="row mb-2">
    <p class="lead">You can access your purchases and ammend you account info here.</p>

    </div>
  </div>

</main>


  
<div class="container dash-wrapper">

  <ul  class="nav nav-tabs">
    <li class="nav-item">
      <span id="library" class="nav-link active">Library</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" id="orders">My orders</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" id="reviews">My reviews </span>
    </li>
  </ul>


    <div class="dash-tab-content-wrapper">
      {% include 'dashboard/snippets/books.html'%}
      {% include 'dashboard/snippets/my-orders.html'%}
      {% include 'dashboard/snippets/reviews.html'%}
    </div>

    
  </div>
</div>
{% include 'dashboard/snippets/billing_modal.html'%}

<script src="{% static 'dashboard/js/user_dashboard.js' %}"></script>

{% endblock %}

