{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'dashboard/css/user_dashboard.css' %}" />
{% endblock %}
{% block extra_js_head %}
    <script src="{% static 'dashboard/js/update_billing.js'%}"></script>
{% endblock %}
{% block content %}

<main role="main" class="container">

  <div class="pt-5">
    <div class="row mb-2">
      <h1>Welcome {{user.username|title}}</h1>
      <button type="button" class="btn btn-primary mx-4 badge px-sm-2 font-weight-light d-inline" data-toggle="modal" data-target="#exampleModal">
        Update Billing Info
      </button>
    </div>
    <div class="row">
    <p class="lead">You can access your purchases and ammend you account info here.</p>

    </div>
  </div>

</main>


  
<div id="books" class="container">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <span class="nav-link active">Library</span>
    </li>
    <li class="nav-item">
      <span class="nav-link" >My orders</span>
    </li>
    <li class="nav-item">
      <span class="nav-link">My reviews </span>
    </li>
  </ul>

  <div class=" align-self-center ">
    {% if not purchases %}
      <span ><a class="badge btn btn-dash-shop badge-danger-2  rounded-pill px-3 py-2 font-weight-light" href="{% url 'store:landing' %}#books">Shop Books</span></a>
    {% endif %}

    </div>

    {% include 'dashboard/snippets/books.html'%}
    {% include 'dashboard/snippets/my-orders.html'%}
    {% include 'dashboard/snippets/reviews.html'%}

    
  </div>
</div>
{% include 'dashboard/snippets/billing_modal.html'%}


{% endblock %}