{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'store/css/store_main.css' %}" />
{% endblock %}

{% block content %}
  <main>
    <div class="container">
        <div class="row wrap-land">
            <div class="col-lg-6 align-self-center"> 
                <span class="badge badge-danger rounded-pill px-4 py-2 font-weight-light">404</span>
            <a class="btn btn-info mx-5 badge px-sm-4 py-2 d-lg-none font-weight-light" href="{% url 'store:all_books' %}">Shop e-books</a>
                <h3 class="my-3 cta-txt text-uppercase">Oops! Page not found</h3>
                <p class="mt-3">We could not find what you were looking for!</p>
                <a class="btn btn-info mt-2 mx-5 d-none d-lg-inline-block" href="{% url 'store:all_books' %}">Shop e-books</a>

            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/404.jpg' %}" class="img-fluid d-none d-md-block" alt='an empty book'/>
            </div>
        </div>
    </div>
  </main>

{% endblock content %}