.review-content textarea {
    resize: none;
    border: 1px solid var(--grey)
}

.form-control:focus {
    color: var(--grey);
    outline: 0;
    box-shadow: 0 0 0 1px var(--grey) !important
}

.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: var(--orange);
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

textarea {
    resize: none !important;;
}

.fa-star {
    color: var(--orange);
    font-size: 1.5rem;
    position: relative;
    bottom: 3px;}

.c-rate {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0; bottom: 0;
    right: 0; top: 6.5px;
    text-align: center;
    color: var(--grey);
    font-size: .8rem;
}

.edit-delete-comment {
    position: absolute;
    right: 0;
}

