.badge {
	line-height: 14px;
}

.badge-danger {
	background: var(--orange);
}

.btn-danger, .btn-dash-shop {
	background-color: var(--orange) !important;
	border-color: var(--orange) !important;
}

.product_item, .cp_img img, .card {
    border-radius: 6px;
}

.btn-dash-shop {
    color: var(--white);
}

.btn-dash-shop:hover {
    text-decoration: none;
    background-color: var(--orange-hover)!important;
    color: var(--white);
}

.django-countries-select {
    padding: 1em !important;
}

select.form-control{
    height: auto !important;
    padding: .6rem .8rem calc(.6rem + 1px) .8rem !important;
}


.active {
    background-color: var(--orange) !important;
    color: white !important;
}

.dash-wrapper .nav-item {
    cursor: pointer;
}



.hide {
    display: none;
}

.show {
    display: flex;
}

.dash-wrapper {
    min-height: 60vh;
}

@media screen and (max-width: 780px) {
    main {
        min-height: 80vh!important;
    }
}

