{% block create_modal %}

<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="review modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add a review</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class=" text-center ">

          <h2>What is your rating?</h2>
            <div class="rating">
              
                <input type="radio" name="rating" value="5" id="5" required><label for="5">☆</label>
                <input type="radio" name="rating" value="4" id="4" required><label for="4">☆</label>
                <input type="radio" name="rating" value="3" id="3" required><label for="3">☆</label>
                <input type="radio" name="rating" value="2" id="2" required><label for="2">☆</label>
                <input type="radio" name="rating" class="rat-one" value="1" id="1" required><label for="1">☆</label>
            </div>
            <div class='d-none mb-2' id='val-stars'><small class='text-danger' >Please leave at least 1 star!</small></div>
            <div class="review-content"> <textarea class="form-control" id="review-content" placeholder="what is your review?" rows="20"></textarea> </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {% if user_review %}
          <button type="button" id="save-review-btn" data-action='update' class="btn btn-primary">Save changes</button>
        {% else %}
          <button type="button" id="save-review-btn" data-action='post' class="btn btn-primary">Save changes</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if user_review %}
<script>
    $("input[type='radio'][name='rating'][id='{{user_review.rating}}']").attr('checked', true)
    $('#review-content').val('{{user_review.review}}')

</script>
{% endif %}
    

<script>
      const elem = document.getElementById('save-review-btn');
    $(document).on('click', '#save-review-btn', function(e){
        if(!$("input[type='radio'][name='rating']:checked").val()){
          $('#val-stars').removeClass('d-none')
          document.querySelector(".rat-one").checked = true
        } else {
            let action = elem.getAttribute('data-action');

            $('#review-modal').modal('hide');
            $.ajax({
            type: 'POST',
            url: '{% url "store:handle_review" %}',
            data: {
                product_id: $("#add-btn").val(),
                rating: $("input[type='radio'][name='rating']:checked").val(),
                review: $('#review-content').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: action
            },
            success: function(json){
              document.querySelector('.msg-wrapper').innerHTML = `
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="text-center">${json.msg}</p>
                </div>

                `
                setTimeout(function () {
                    $(".alert").alert('close')
                }, 3000);
                let action = elem.getAttribute('data-action');
                
                if(action == 'post'){
                  elem.setAttribute('data-action', 'update')
                }
                action = elem.getAttribute('data-action');
                let user = '{{request.user.username}}'
                let review = json.review
                let rating = json.rating
                addReview(user, review, rating)
                
            },
            error: function(xhr, errmsg, err){}
        })
        }
        
    })
    
</script>
{% endblock %}